.body {
  text-align: center;
  display: block;
  margin: 20% auto;
  width: 30%;
  padding: 10px;
}

.result {
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  color: #212529;
}

.row {
  margin: 100px 0;
}